*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #000;
}
header{
  background: url("../images/heart.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.calculator{
  margin: auto;
  position: absolute;
  width: 40%;
  text-align: center;
  /* border: 2px solid red; */
  background-color: white;
}
.head{
  background-color: rgb(255, 0, 43);
  padding: 10px;
  color: white;
  font-size: 20px;
}
.footer{
  background-color: rgb(250, 239, 209);
  padding: 10px;
  font-size: 20px;
}
.form-container{
  margin: 20px 0;
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}
form input{
/* border-radius: 5px; */
box-shadow: inset 0px 0px 3px rgb(255, 0, 0);
border: none;
width: 40%;
padding: 10px 0;
outline: none;
text-align: center;
}
form input:hover,  form input:focus{

  box-shadow: 0px 1px 5px 1px rgb(255, 0, 0);
}
input{
font-size: 18px;
}
.result input{
margin-bottom: 30px;
background: none;
outline: solid rgb(160, 160, 255);
border: none;
width: 50%;
padding: 10px 0;

text-align: center;
}
.btn{
background-color: rgb(25, 165, 25);
width: 30%;
padding: 10px 0;
outline: none;
border: none;
border-radius: 3px;
cursor: pointer;
}
.btn:hover{
box-shadow: 0px 1px 5px 1px black;
}
footer{background-color: black;
color: white;
bottom: 0;
}
footer p {
padding: 5px;
text-align: center;
}
/* 

footer h3{padding: 10px;}
footer p{padding: 10px;} */

@media only screen and (max-width: 800px) {

  .calculator{
    width: 90%;
  }
    form{
  display: flex;
  flex-direction: column;
    }
  form input{
width: 70%;
}

}

@media only screen and (max-width: 500px) {
input{
  font-size: 14px;
}
}
